html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4C4C47;
}

.title {
    display: inline-block;
    color: white;
    text-align: center;
    margin-right: 20px;
}

.menu-bar {
    display: block;
    background-color: #C14953;
    height: 70px; width: 100%;
    text-align: center;
    padding: 20px 0px;
    padding-bottom: 36px;
}

.bar-button {
    font-size: 16px;
    display: inline-block;
    background-color: #D3938C;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 16px 32px;
    margin: 0 auto;
}

.bar-button:hover {
    background-color: brown;
}

.page-container {
    /* outline: 3px solid red; */
    background-color: #4C4C47;
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding-bottom: 50px;
}

.recipe-card {
    margin: 30px 0px;
    border-radius: 5px;
    background-color: #2D2D2A;
    width: auto; height: auto;
}

.image {
    width: 25%; height: auto;
    border: 3px solid #C14953;
    border-radius: 5px;
    margin-top: 5px; margin-left: 5px;
}